# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Git
.git

# Env files
.env

# Tests and migrations not needed in production image
tests/
migrations/

# Editor configs
.vscode/
